@model IEnumerable<ATuSalud.Models.TablaPatologias>

@{
    ViewData["Title"] = "Index";
}


<p class="btn btn-info">
    <a asp-action="Create" style="color: white;">Nueva Patologia</a>
</p>

<table class="table table-striped">
    <thead class="bg-info text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Numero Paciente
            </th>
            <th>
                Codigo CIAP
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TablaPacienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TablaCodigoCIAPId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
