@model ATuSalud.Models.TablaDatosFisicos

@{
    ViewData["Title"] = "Delete";
}


<h3>¿Quieres eliminar la sintomatologia fisica de este paciente?</h3>
<div>
    <h4>TablaDatosFisicos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id del paciente:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alergias)
        </dd>
        <dt class = "col-sm-2">
            Grupo sanguineo:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupo_sanguineo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fumador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fumador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drogas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drogas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
