@model ATuSalud.Models.TablaDatosFisicos

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Datos físicos de paciente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Paciente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>
        <dt class="col-sm-2">
            Peso:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class="col-sm-2">
            Altura
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class="col-sm-2">
            Alergias
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alergias)
        </dd>
        <dt class="col-sm-2">
            Grupo sanguineo:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grupo_sanguineo)
        </dd>
        <dt class="col-sm-2">
            ¿Fumador?
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fumador)
        </dd>
        <dt class="col-sm-2">
            Drogas
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drogas)
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a lista</a>
</div>
