@model IEnumerable<ATuSalud.Models.TablaDatosFisicos>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead class="bg-info text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alergias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupo_sanguineo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fumador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drogas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PacienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Altura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alergias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grupo_sanguineo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fumador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Drogas)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar </a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
