@using ATuSalud.ViewData
@model List<SqlQuery_16ViewData>
@{
    ViewData["Title"] = "Index";
}

<h3>Listado de pacientes que reciben medicamentos de manera crónica y que son incompatibles</h3>

@if (Model != null)
{
    <table class="table table-striped">
        <thead class="bg-info text-light">
            <tr>
                <th>Nombre</th>
                <th>Medicamento 1</th>
                <th>Medicamento 2</th>
            </tr>
        </thead>
        @foreach (SqlQuery_16ViewData item in Model)
        {
    <tr>
        <td>@item.nombre @item.apellido1 @item.apellido2</td>
        <td>@item.medicamento1</td>
        <td>@item.medicamento2</td>
    </tr>
        }
    </table>
}
