@model IEnumerable<ATuSalud.Models.TablaReservaEspacios>

@{
    ViewData["Title"] = "Index";
}

<p class="btn btn-info">
    <a asp-action="Create" style="color: white;">Añadir reserva</a>
</p>


<table class="table table-striped">
    <thead class="bg-info text-light">
        <tr>
            <th>
                ID del profesional
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Espacio)
            </th>
            <th>
                Fecha y hora de inicio
            </th>
            <th>
                Fecha y hora del final
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfesionalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Espacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
