@model ATuSalud.Models.TablaRecetas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TablaRecetas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Nombre_medicamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dosis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dosis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
