@model IEnumerable<ATuSalud.Models.TablaMedicamentos>

@{
    ViewData["Title"] = "Index";
}


<p class="btn btn-info">
    <a asp-action="Create" style="color: white;">Nuevo Medicamento</a>
</p>

<table class="table table-striped">
    <thead class="bg-info text-light">
        <tr>
            <th>
                Nombre Medicamento
            </th>
            <th>
                Compuesto Farmacologico
            </th>
            <th>
                Efectos Secundarios
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_medicamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Forma_farmaceutica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Efectos_secundarios)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
