@model ATuSalud.Models.TablaMedicamento_efectos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TablaMedicamento_efectos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Efecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Efecto.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
