@model ATuSalud.Models.TablaProfesional

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Datos del Profesional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellido1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellido2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.especialidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.num_colegiado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.num_colegiado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.foto)
        </dd>
    </dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
