@using ATuSalud.ViewData
@model List<SqlQuery_10ViewData>
@{
    ViewData["Title"] = "Index";
}

<h3>Listado de recetas (con información del medicamento) que tiene un paciente seleccionado</h3>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-2">
            Paciente:
        </div>
        <div class="col-4">
            <select name="id" class="form-control"
                    asp-items="ViewBag.Pac">
                <option value="null">Todos</option>
            </select>
        </div>
    </div>
    <input type="submit" value="Consultar"
           class="btn btn-primary" />

</form>
<hr />


@if (Model != null)
{
    <table class="table table-striped">
        <thead class="bg-info text-light">
            <tr>

                <th>Pacientes</th>
                <th>Medicamento</th>
                <th>Diagnóstico</th>
                <th>Cantidad</th>
                <th>Dosis</th>
                <th>Duración</th>
                <th>Fecha</th>

            </tr>
        </thead>
        @foreach (SqlQuery_10ViewData item in Model)
        {
    <tr>
        <td>@item.nombre @item.apellido1 @item.apellido2</td>
        <td>@item.medicamento</td>
        <td>@item.diagnostico</td>
        <td>@item.cantidad</td>
        <td>@item.dosis</td>
        <td>@item.duracion</td>
        <td>@item.fecha</td>
    </tr>
        }
    </table>
}