@model IEnumerable<ATuSalud.Models.TablaEfectos_secundarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p class="btn btn-info">
    <a asp-action="Create" style="color: white;">Añadir receta</a>
</p>

<table class="table table-striped"">
    <thead class="bg-info text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_efecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.severidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_efecto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.severidad)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
