@model IEnumerable<ATuSalud.Models.TablaEspacios>

@{
    ViewData["Title"] = "Index";
}


<p class="btn btn-info">
    <a asp-action="Create" style="color: white;">Nueva reserva</a>
</p>
<table class="table table-striped">
    <thead class="bg-info text-light">
        <tr>
            <th>
                Id Espacio
            </th>
            <th>
                Id Reserva
            </th>
            <th>
                Espacio general
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobiliario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservaEspacio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EspacioGeneral)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobiliario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
