@model ATuSalud.Models.TablaAntecedentes

@{
    ViewData["Title"] = "Delete";
}

<h3>¿Quieres borrarlo?</h3>
<div>
    <h4>Antecedente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id Paciente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PacienteId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Familiar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Familiar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermedad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermedad)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
