@model ATuSalud.Models.TablaCitasPaciente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalles de la cita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id del paciente:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TablaPacienteId)
        </dd>
        <dt class="col-sm-2">
            Id del profesional:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TablaProfesionalId)
        </dd>
        <dt class="col-sm-2">
            Fecha de atencion:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_atencion)
        </dd>
        <dt class="col-sm-2">
            Fecha de acabado:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_acabar)
        </dd>
        <dt class="col-sm-2">
            Observaciones generales:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class="col-sm-2">
            Fecha de registro
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_registro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
