@model IEnumerable<ATuSalud.Models.TablaCitasPaciente>

@{
    ViewData["Title"] = "Index";
}


<p class="btn btn-info">
    <a asp-action="Create" style="color: white;">Añadir cita</a>
</p>
<table class="table table-striped text-center">
    <thead class="bg-info text-light">
        <tr>
            <th>
                Id del paciente
            </th>
            <th>
                Id del profesional
            </th>
            <th>
                Fecha de registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TablaPacienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TablaProfesionalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_registro)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
